body {
    background-color: blanchedalmond;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    border: 2px solid black ;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    align-items: center;
    margin-left: 10vw ;
    margin-right: 10vw;
    
}

.a1 {
    display: flex;
    margin-left: 8vw;
    margin-right: 8vw; 
}

#container {
    border: 1px solid black;
    padding: 5vw;
    display: flex;
    justify-content: space-around;
    margin: 10vw;
    gap: 10vw;
}

@media screen and (max-width: 768px) {
    #container {
        display: block;
    }
}

.left {
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 40%;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 20%;
    gap: 10vw;
}

#Aboutbody {
    display: flex;
    margin: 10vw;
    padding: 5vw;
    border: 1px solid black;
}


